/* header */
h1, h2, h3, h4, h5, h6 {
  color: #00695C;
}

h2, h3, h4, h5, h6 {
  color: #00796B;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  position: relative;
  text-decoration: none;
  color: #00695C
}

h1 a {
  color: #00695C
}

h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #00796B
}

.markdown-section a, a, a:active, a:hover, a:focus, a:visited {
  color: #26A69A;
}

h2, h3, h4, h5 {
    position: relative;
}

h2 > a:before, h3 > a:before, h4 > a:before, h5 > a:before {
    color: #efefef;
    position: absolute;
    left: -20px;
    content: "#";
}

h2 > a:hover:before, h3 > a:hover:before, h4 > a:hover:before, h5 > a:hover:before {
    position: absolute;
    left: -20px;
    content: "#";
}

/* active link in summary */
.book-summary ul.summary li.active>a {
    color: #26A69A;
}

/* brand */
.brand-container {
  padding: 5px 15px;
}

/* page */
.page-wrapper {
  padding-bottom: 20px;
}

/* page toc */
.markdown-section > * {
  z-index: 1;
}
.markdown-section > ul:first-child {
    z-index: 3000;
    position: relative;
    list-style-type: none;
    border: solid 1px #eee;
    padding: 10px;
    background: #fafafa;
    display: inline-block;
    min-width: 300px;
    float: right;
    margin-left: 40px;
}
.book-header {
    z-index: 4000;
}

/* workaround for non working initial top position - initial load scrolls title up 50px */
.book-body {
    top: 50px;
}
.body-inner {
    min-height: 100%;
}
.page-inner {
    margin-top: 0;
}